@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
  }
}